@use "global" as *;

.campaign {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(120);
  }
}
.campaign__inner {
  position: relative;
}

// Campaign スワイパー
.campaign__swiper {
  margin-top: rem(24);
  padding-bottom: rem(10);
  margin-right: calc(50% - 50vw);
  @include mq(md) {
    margin-top: rem(40);
  }
}

.campaign__swiper .swiper-wrapper {
  width: 100%;
  max-width: 100%;
  height: inherit;
  transition-timing-function: linear;

}

.campaign__swiper .swiper-slide {
  width: rem(280);
  max-width: 100%;
  height: inherit;
  @include mq(md) {
    width: rem(333);
  }
}

// スワイパー左右矢印
.campaign__swiper-button-wrapper {
  width: rem(240);
  max-width: 100%;
  height: rem(80);
  position: absolute;
  top: 0;
  right: rem(25);
}

.swiper-button-prev,
.swiper-button-next {
  height: rem(80);
  width: rem(80);
  position: absolute;
  top: 30%;
  right: 0;
}
.swiper-button-prev {
  right: rem(20);
}


.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";//空にしてデフォルトのスタイルを打ち消す
  width: 100%;
  max-width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
}

.swiper-button-prev::after {
  background-image: url(../images/common/swiper-btn--prev.png);
}

.swiper-button-next::after {
  background-image: url(../images/common/swiper-btn--next.png);
}

.swiper-slide img {
  height: auto;
  width: 100%;
}

// view more ボタン
.campaign__button {
  margin-top: rem(30);//40px→30px. swiperにpadding-bottom:10px;を設定した分をマイナス
  margin-right: auto;
  margin-left: auto;
  @include mq(md) {
    margin-top: rem(70);//ズレ修正のため80px→70pxへ調整
  }
}