@use "global" as *;

.campaign {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(120);
  }

}
.campaign__inner {
  padding: 0 rem(15);
}
.campaign__section-title {

}

// Campaign スワイパー
.campaign__swiper-wrapper {
  width: 100%;
  // height: rem(366);
  height: rem(400);
  overflow: hidden;
  margin-top: rem(24);
  // display: flex; /* コンテナ内の要素を中央に配置 */
  // justify-content: center; /* 水平方向に中央配置 */
  // align-items: center; /* 垂直方向に中央配置 */
  // overflow: hidden; /* 子要素の影が見切れないようにする */
  @include mq(md) {
    margin-top: rem(40);
  }
}


.campaign__swiper {
  width: 100%;
  max-width: 100%;
  height: inherit;
  // height: rem(445);
}

.campaign__swiper .swiper-wrapper {
  width: 100%;
  max-width: 100%;
  height: inherit;
}



.campaign__swiper .swiper-slide {
  width: rem(333);
  max-width: 100%;
  height: inherit;
  aspect-ratio: 333/445;
}

.campaign__button {
  margin-top: rem(40);
  margin-right: auto;
  margin-left: auto;
  @include mq(md) {
    margin-top: rem(80);
  }
}