@use "global" as *;

.campaign {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(120);
  }

}
.campaign__inner {
  padding: 0 rem(15);
}
.campaign__section-title {

}

// Campaign スワイパー
.campaign__swiper {
  width: 100%;
  max-width: 100%;
  // height: rem(445);
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(40);
  }
}

.campaign__swiper .swiper-wrapper {
  width: 100%;
  max-width: 100%;
  height: inherit;
}



.campaign__swiper .swiper-slide {
  width: rem(333);
  max-width: 100%;
  height: inherit;
  aspect-ratio: 333/445;
}

.campaign__button {
  margin-top: rem(40);
  margin-right: auto;
  margin-left: auto;
  @include mq(md) {
    margin-top: rem(80);
  }
}