@use "global" as *;

.contact {
  text-shadow: 2px 2px 5px rgba(13, 41, 54, 0.3); //水平、垂直、ぼかし。0.3は透明度
  margin-top: rem(80);
  @include mq(md) {
    margin-top: rem(140);
  }
}

.contact__inner {
  position: relative;
}

// 魚のイラスト
.contact__inner::before {
  content: "";
  display: inline-block;
  width: rem(109);
  max-width: 100%;
  aspect-ratio: 109/50;
  background-image: url(../images/common/contact-fish.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: rem(-25);
  right: rem(15);
  z-index: 999999;
  @include mq(md) {
    width: rem(301);
    aspect-ratio: 301/138;
    top: rem(-40);
    // right: rem(-130);
    
  }
}


.contact__contents-wrapper {
  @include mq(md) {
    width: 100%;
    max-width: rem(1080);
    display: flex;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    padding: rem(80) rem(50);
  }
}

.contact__body {
  width: 100%;
  padding: 0 rem(25);
  @include mq(md) {
    padding-right: rem(82);
    padding-left: 0;

  }
}

.contact__logo {
  width: 100%;
  max-width: 100%;
  border-bottom: 1px solid $green;
  padding-bottom: rem(6);
}

.contact__logo img {
  max-width: rem(174);
  aspect-ratio: 174/65;
  object-fit: cover;
  margin: 0 auto;
  @include mq(md) {
    max-width: rem(200);
  }
}

.contact__company-information {
  width: 100%;
  max-width: 100%;
  margin-top: rem(16);
  @include mq(md) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: rem(21);
    margin-top: rem(24);
  }

}
.contact__address-wrapper {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $green-deep;
  font-weight: $normal;
  line-height: calc(24/16);
  text-align: center;
  @include mq(md) {
    width: 100%;
    max-width: rem(146);
    text-align: left;
  }
}

.contact__address-wrapper > * {
  margin-top: rem(4);
}

.contact__address-wrapper > :first-child {
margin-top: 0;
}

.contact__address-wrapper p {
display: block;
}
.contact__address-wrapper a {
display: block;
}

.contact__map {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 295/160;
  margin-top: rem(16);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  @include mq(md) {
    width: rem(273);
    aspect-ratio: 273/148;
    margin-top: 0;
  }
}

.contact__map iframe {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact__header {
  width: 100%;
  max-width: 100%;
  margin-top: rem(40);
  text-align: center;
  padding: 0 rem(15);
  @include mq(md) {
    border-left: 1px solid $green;
    margin-top: 0;
    padding-right: rem(62);
    padding-left: 0;
  }
}

.contact__section-title .section-title__en {
  font-size: rem(80);
}
.contact__section-title .section-title__jp {
  margin-top: rem(-6);
}

.contact__link {
  font-family: $base-font-family;
  font-size: rem(14);
  color: $green;
  font-weight: $normal;
  line-height: calc(18/14);
  display: block;
  margin-top: rem(8);
}

.contact__button {
  margin-top: rem(40);
  margin-right: auto;
  margin-left: auto;
}









