

.information {
  background-color: $green-light;
  padding-top: rem(80);
  padding-bottom: rem(80);
  @include mq(md) {
    padding-top: rem(100);
  }
}

.information__inner {
  max-width: rem(1080);
  padding: 0 rem(15);
}

.information__contents-wrapper {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: rem(24);
  margin-top: rem(24);
  @include mq(md) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: rem(48);
    margin-top: rem(40);
  }
}

.information__image {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 345/227;
  @include mq(md) {
    width: rem(540);
    aspect-ratio: 540/356;
  }
}

.information__image img {
  display: block;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.information__body {
  width: 100%;
  max-width: 100%;
  @include mq(md) {
    width: rem(492);
  }

}
.information__heading {
  font-family: $base-font-family;
  font-size: rem(20);
  color: $green-deep;
  font-weight: $bold;
  line-height: calc(24/20);
  margin-top: rem(24);
  border-bottom: 1px solid $green;
  padding-bottom: rem(4);
}

.information__text {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $green-deep;
  font-weight: $normal;
  line-height: calc(24/16);
  margin-top: rem(8);
}

.information__button {
  margin-top: rem(40);
  margin-right: auto;
  margin-left: auto;
}


