@use "global" as *;

.page-information__inner {
  max-width: rem(600);
  margin-right: auto;
  margin-left: auto;
}

.page-information__tab {
  position: relative;
  z-index: 2;
}

.page-information__tab-contents {
  margin-top: rem(16);
  @include mq(md) {
    margin-top: rem(24);
  }
}