@use "global" as *;

.voice {
  margin-top: rem(80);
  @include mq(md) {
    margin-top: rem(140);
  }
}

.voice__inner {
  padding: 0 rem(15);
}

.voice__card-wrapper {
  margin-top: rem(40);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: rem(20); 
  @include mq(md) {
    grid-template-columns: repeat(2, 1fr); 
    margin-top: rem(30);
  }
}

.voice__button {
  margin-top: rem(40);
  margin-right: auto;
  margin-left: auto;
  @include mq(md) {
    margin-top: rem(80);
  }
}

