@use "global" as *;

.archive__item {
  font-family: $base-font-family;
  font-size: rem(24);
  color: $green;
  font-weight: $normal;
  margin-top: rem(4);
}

.archive__year {
  padding-left: rem(32);
  position: relative;
}

.archive__year::before {
  content: "";
  border-style: solid;
  border-width: 10px 0 10px 15px; 
  border-color: transparent transparent transparent $green;
  position: absolute;
  top: 50%;
  left: rem(10);
  transform: translateY(-50%);
  position: absolute;
}


.archive__year--current::before {
  content: "";
  border-style: solid;
  border-width: 0 10px 15px 10px; 
  border-color: transparent transparent $green transparent; 
  position: absolute;
  top: -10%;
  left: 0;
  transform: translateY(100%) rotate(180deg); 
}

.archive__month {
  margin-top: rem(4);
  margin-left: rem(24);
}