@use "global" as *;

.breadcrumb__text {
  font-family: $base-font-family;
  font-size: rem(14);
  color: $green-deep;
  font-weight: $normal;
  text-transform: uppercase;
}

.breadcrumb__text span {
  display: inline-block;
  margin-left: rem(8);
}

