@use "global" as *;

.button {
  display: block;
  text-align: center;
  position: relative;
  z-index: 1;
}

.button__link {
  font-family: $second-font-family;
  font-size: rem(14);
  color: $white;
  font-weight: $normal;
  line-height: calc(22/14);
  display: inline-block;
  padding-top: rem(16);
  padding-right: rem(88); 
  padding-bottom: rem(16);
  padding-left: rem(40);
  background-color: $green;
  border: 1px solid $green;
  position: relative;
  z-index: 1;
  transition: .3s;
}
.button__link::first-letter {
  text-transform: capitalize;
}

// ボタンの影
.button__link::before {
  content: "";
  display: block;
  position: absolute;
  border: 1px solid $green;
  width: 100%;
  height: 100%;
  transition: .3s;
  position: absolute;
  top: rem(4);
  left: rem(4);
}

// 右矢印
.button__link::after {
  content: "";
  display: inline-block;
  width: rem(40);
  max-width: 100%;
  height: rem(6);
  border-right: 1px solid $white;
  border-bottom: 1px solid $white;
  transform: skew(45deg);
  position: absolute;
  // top: 44.4444%; //ボタンの高さ54pxで計算
  top: 42.857%;//ボタンの高さ56pxで計算
  right: rem(40);
  z-index: 1;
}

// スライドアニメーション

