@use "global" as *;
// お問い合わせフォーム

.contact-form {
  width: 100%;
}

// フォーム上部エラーメッセージとの余白
.contact-form__layout {
  margin-top: rem(40);
}

.contact-form__item {
  width: 100%;
  border-bottom: 1px dashed $green;
  padding: rem(24) 0;
  @include mq(md) {
    max-width: rem(700);
    display: grid;
    grid-template-columns: 1fr rem(480);
    padding: rem(40) 0;
  }
}

.contact-form__item:first-child {
  padding-top: 0;
}

//見出し(label）
.contact-form__label {
  height: rem(23);
  font-family: $base-font-family;
  font-size: rem(16);
  color: $green-deep;
  font-weight: $bold;
  display: flex;
  align-items: center;
}

//「必須」タグ
.contact-form__label span {
  font-family: $base-font-family;
  font-size: rem(12);
  color: $white;
  font-weight: $normal;
  letter-spacing: 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C94800;
  margin-left: rem(8);
  padding: rem(2) rem(16);
}

// 入力エリアのコンテナ
.contact-form__item dd {
  margin-top: rem(16);
  @include mq(md) {
    width: rem(480);
    margin-top: 0;
  }
}

// 入力エリア（名前、メルアド、電話番号）
.contact-form__input-area { 
  width: 100%;
  height: rem(40);
  background: #fff;
  font-family: $base-font-family;
  font-size: rem(16);
  color: $green-deep;//正常入力時の文字色
  font-weight: $normal;
  padding: rem(7) rem(16);
  border: 1px solid $green;
  @include mq(md) {
    width: rem(480);
    font-size: rem(16);
    margin-top: 0;
  }
}

//placeholder文字色
.contact-form__input-area::placeholder { 
  color: $green-light; 
}

// エラー時のplaceholderの文字色
.contact-form__input-area[aria-invalid="true"]::placeholder,
.contact-form__text-area[aria-invalid="true"]::placeholder {
  color: #fff; 
}


/* ドロップダウンメニュー（キャンペーン） */
.contact-form__drop-down {
  width: 100%;
  height: rem(40);
  background: #fff;
  font-family: $base-font-family;
  font-size: rem(16);
  color: $green-deep; /* 正常入力時の文字色 */
  font-weight: $normal;
  border: 1px solid $green;
  padding: rem(7) rem(8);
  position: relative;
  appearance: none; /* デフォルトの矢印を非表示にする */
  @include mq(md) {
    width: rem(480);
    font-size: rem(16);
    margin-top: 0;
  }
}

// 下矢印
.dropdown-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown-arrow {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: rem(8);
  transform: translateY(-50%);
  font-size: rem(12);
  color: $green;
  pointer-events: none;
  @include mq(md) {
    top: 50%;
  }
}


// 入力エリア（お問い合わせ内容）
.contact-form__text-area {
  width: 100%;
  background: #fff;
  font-family: $base-font-family;
  font-size: rem(16);
  color: $green-deep;
  font-weight: $normal;
  border: 1px solid $green;
  @include mq(md) {
    margin-top: 0;
  }
}

// 入力エリアに入力がない時（エラー時）
.contact-form__input-area[aria-invalid="true"],
.contact-form__text-area[aria-invalid="true"] {
  border: 1px solid #C94800;
  background: rgba(201, 72, 0, 0.20);
}

// フォーカス中（入力中）のスタイル
.contact-form__input-area:focus,
.contact-form__text-area:focus {
  color: $green-deep; 
  border: 1px solid $green; 
}

// エラー状態で入力中の文字色
.contact-form__input-area[aria-invalid="true"]:focus,
.contact-form__text-area[aria-invalid="true"]:focus {
  color: $green-deep; 
}

//チェックボックス（お問い合わせ項目）
//inputタグのデフォルトデザインを消す

// Contact form 7のCSS
// チェックボックスのラベル（ボックスとテキスト）のコンテナ
.wpcf7-list-item {
  display: block;
  margin-left: 0; //デフォルトの余白を消す
  margin-bottom: rem(2);
}

// チェックボックスのラベル（ボックスとテキスト）
.wpcf7-list-item label {
  display: inline-block;
  font-family: $base-font-family;
  font-size: rem(16);
  color: $green-deep;
  font-weight: $normal;
  padding-left: rem(22);//枠14+余白8
  position: relative;
  margin-bottom: rem(2);//4→2 ピクパ調整
  cursor: pointer;
}

// お問い合わせ項目のチェックボックススタイル
input[type="checkbox"].contact-form__checkbox-inquiry {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

input[type="acceptance"].contact-form__checkbox-privacy {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

// チェックボックスの枠
.wpcf7-list-item-label::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid $green;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

// // 承諾確認のチェックボックスの枠
.contact-form__checkbox-privacy + .wpcf7-list-item-label::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid $green;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}



// チェック後のチェックマーク
// checkbox-inquiry（お問い合わせ項目）のチェックボックス
// （複数選択）は配列形式[]が必要
input[type="checkbox"][name="checkbox-inquiry[]"]:checked + .wpcf7-list-item-label::after {
  content: "";
  display: block;
  position: absolute;
  width: 9px;
  height: 5px;
  border-top: transparent;
  border-right: transparent;
  border-left: 2px solid #C94800;
  border-bottom: 2px solid #C94800;
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%) rotate(-45deg); // 中央からのオフセットと角度調整
} 
// チェック後のチェックマーク
// checkbox-privacy（プライバシー）のチェックボックス
input[type="checkbox"][name="checkbox-privacy"]:checked + .wpcf7-list-item-label::after {
  content: "";
  display: block;
  position: absolute;
  width: 9px;
  height: 5px;
  border-top: transparent;
  border-right: transparent;
  border-left: 2px solid #C94800;
  border-bottom: 2px solid #C94800;
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%) rotate(-45deg); /* 中央からのオフセットと角度調整 */
}


.checkbox-error {
  font-family: $base-font-family;
  font-size: rem(14);
  color: #C94800;
  font-weight: $normal;
}

// 元のコード
// プライバシーポリシーのチェックボックススタイル
.contact-form__privacy {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: rem(8);
  text-align: left;
  margin-top: rem(40);
  margin-right: auto;
  margin-left: auto;
  padding: 0 rem(32);
  @include mq(md) {
    gap: rem(16);
    margin-top: rem(80);
  }
}

//※個人情報保護方針に同意してください。
.privacy-error {
  font-family: $base-font-family;
  font-size: rem(14);
  color: #C94800;
  font-weight: $normal;
  text-align: center;
}

.contact-form__button {
  margin-top: rem(24);
  text-align: center;
  @include mq(md) {
    margin-top: rem(40);
  }
}

// ※入力必須項目です
span.error_required {
  font-family: $base-font-family;
  font-size: rem(14);
  color: #C94800;
  font-weight: $normal;
  text-align: left;
}

.contact-form__error {
  text-align: center;
  padding: 0 rem(60);
}

// ※必須項目が入力されていません。入力してください。
.error-message {
  // display: none;
  font-family: $base-font-family;
  font-size: rem(14);
  color: #C94800;
  font-weight: $normal;
  text-align: left;
  margin-top: rem(52);
  margin-bottom: rem(40);
  position: relative;
  @include mq(md) {
    margin-top: rem(150);
  }
}




//正規表現チェックのテキスト
.name-error,
.email-error,
.tel-error,
.drop-down-error {
  font-family: $base-font-family;
  font-size: rem(14);
  color: $green;
  font-weight: $normal;
  text-align: left;
}
