@use "global" as *;
// お問い合わせフォーム

.contact-form {
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  margin-top: rem(40);
  @include mq(md) {
    max-width: rem(700);
    margin-right: auto;
    margin-left: auto;
  }
}

.contact-form__item {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px dotted $green;
  padding: rem(24) 0;
  @include mq(md) {
    max-width: rem(700);
    flex-direction: row;
    gap: rem(39);
  }
}

.contact-form__item:first-child {
  padding-top: 0;
}

//見出しと「必須」タグ
.contact-form__item dt {
  @include mq(md) {
    width: 40%;
  }
}

//見出し
.contact-form__heading {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $green-deep;
  font-weight: $bold;
  display: block;
}

//「必須」タグ
.contact-form__heading span {
  font-family: $base-font-family;
  font-size: rem(12);
  color: $white;
  font-weight: $normal;
  letter-spacing: 4.8px;
  display: inline-block;
  background-color: #C94800;
  padding: rem(2) rem(16);
  margin-left: rem(8);
}

//入力エリアと入力例
.contact-form__item dd {
  @include mq(md) {
    width: 65%;
  }
}

// 入力エリア
.input-area {
  width: 100%;
  // max-width: min(100%, rem(480));
  height: rem(40);
  background: #fff;
  margin-top: rem(18);
  font-family: $base-font-family;
  font-size: rem(16);
  color: $green-deep;
  font-weight: $normal;
  padding: rem(8) rem(16);
  @include mq(md) {
    font-size: rem(16);
    margin-top: 0;
  }
}

.input-area.errored,
.text-area.errored {
  border: 1px solid #C94800;
  background: rgba(201, 72, 0, 0.20);
  color: #fff;
}

// お問い合わせ内容の入力エリア
.text-area {
  width: 100%;
  // max-width: min(100%, rem(500));
  background: #fff;
  margin-top: rem(18);
  font-family: $base-font-family;
  font-size: rem(16);
  font-weight: $normal;
  @include mq(md) {
    margin-top: 0;
  }
}

.input-area__postal-code {
  width: 47.005%;
}

input[type="text"],
input[type="email"],
textarea,
select {
  // //マウスを使わないユーザー用に、outline:none;の場合はborderをつける
  border: 1px solid rgba(0, 0, 0, 0.16);
}

.contact-form__radio {
  margin-top: rem(18);
  @include mq(md) {
    margin-top: 0;
  }
}

.input-area::placeholder,
.text-area::placeholder {
  color: $green-light; //テキストの色
}

//※全角文字で入力してください。
.name-error {
  font-family: $base-font-family;
  font-size: rem(14);
  color: $green;
  font-weight: $normal;
  text-align: left;
}

//※正しいメールアドレスの形式で入力してください。
.email-error {
  font-family: $base-font-family;
  font-size: rem(14);
  color: $green;
  font-weight: $normal;
  text-align: left;
}
//※電話番号は半角数字とハイフンの組み合わせで入力してください。
.tel-error {
  font-family: $base-font-family;
  font-size: rem(14);
  color: $green;
  font-weight: $normal;
  text-align: left;
}





//** ラジオボタンのデザイン **
//inputタグのデフォルトデザインを消す
.radio-input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

//ラジオボタンのラベル
.radio-label {
  position: relative;
  display: inline-block;
  padding-left: 20px;//ラジオボタン用にスペースを作る
  margin-bottom: 4px;
  cursor: pointer;
}

//ラジオボタン外側の丸
.radio-label-span::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid $green;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

//ラジオボタンをチェックした後のチェックマーク
.radio-input:checked + .radio-label-span::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 5px;
  border-top: transparent;
  border-right: transparent;
  border-left: 2px solid #C94800;
  border-bottom: 2px solid #C94800;
  position: absolute;
  top: 30%;
  left: 4px;  
  transform: rotate(-45deg);
}

//キーボードのみで操作時用のライン
.radio-input:focus + .radio-label-span::before {
  outline: 2px solid #3498db; //フォーカスが当たった時の線の色
}

.radio__label {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $green-deep;
  font-weight: $normal;
}

//※ラジオボタンを選択してください
.radio-error {
    font-family: $base-font-family;
    font-size: rem(14);
    color: #C94800;
    font-weight: $normal;
}

//※キャンペーン内容を選択してください
.pull-down-error {
    font-family: $base-font-family;
    font-size: rem(14);
    color: #C94800;
    font-weight: $normal;
}


//** ラジオボタンのデザイン ** ここまで

//プルダウンメニュー
.custom-select {
  position: relative;
}

.custom-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  // padding: rem(12) rem(8);
  border: 1px solid rgba(0, 0, 0, 0.16);
  background: #fff;
  font-family: $base-font-family;
  font-size: rem(12);
  color: #000;
  font-weight: $normal;
  font-weight: $normal;
  cursor: pointer;
}

.custom-select .placeholder {
  // position: absolute;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  // // padding: rem(8) rem(16);
  // line-height: normal;
  // pointer-events: none;
}

.custom-select::after {
  content: '\25BC'; //下矢印
  display: inline-block;
  position: absolute;
  top: 65%;
  right: rem(8);
  transform: translateY(-50%);
  font-size: rem(12);
  color: $green;
  pointer-events: none;
  @include mq(md) {
  top: 50%;
  }
}

//プルダウンメニューここまで

// チェックボックスとプライバシー
.contact-form__privacy {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: rem(8);
  text-align: center;
  margin-top: rem(40);
  margin-right: auto;
  margin-left: auto;
  padding: 0 rem(32);
  @include mq(md) {
    gap: 0 rem(16);
    margin-top: rem(80);
  }
}

//「個人情報の取り扱いについて同意のうえ送信します。」のテキスト
.contact-form__privacy-text { 
  font-family: $base-font-family;
  font-size: rem(14);
  color: $green-deep;
  font-weight: $normal;
  line-height: calc(22/14);
  display: inline-block;
  text-align: left;
}

// ** チェックボックスのデザイン **
input[type="checkbox"] {
  display: inline-block;//これがないと表示されないので注意
  cursor: pointer;
  padding-left: rem(20);//label手前にチェックボックス用の余白を開ける
  vertical-align: middle;
  position: relative; //本来のcheckboxの位置
}

//擬似要素で四角をデザイン
input[type="checkbox"]::before,
input[type="checkbox"]::after {
  content: "";
  display: block; 
  position: absolute;
  z-index: 1;
}

//チェックボックス
input[type="checkbox"]::before {
  background-color: #fff;
  border: 1px solid $green;
  width: rem(22);/*チェックボックスの横幅*/
  height: rem(22);/*チェックボックスの縦幅*/
  // transform: translateY(-50%);
  top: 50%;
  left: 0;
}

//チェックマーク
input[type="checkbox"]::after {
  border-bottom: 3px solid #666464;//チェックの太さ
  border-left: 3px solid #666464;//チェックの太さ
  opacity: 0;//チェック前は非表示
  height: 6px;//チェックの高さ
  width: 11px;//チェックの横幅
  transform: rotate(-45deg);
  top: rem(5); //チェック時の位置調整
  left: rem(5); //チェック時の位置調整
}

input[type="checkbox"]:checked::after {
  opacity: 1;//チェック後に表示
}
// ** チェックボックスのデザイン ** ここまで  

//※個人情報保護方針に同意してください。
.privacy-error {
  font-family: $base-font-family;
  font-size: rem(14);
  color: #C94800;
  font-weight: $normal;
  text-align: center;
}

.contact-form__button {
  margin-top: rem(50);
  text-align: center;
}

// .error-message::before {
//   content: '※ '; /* ※の文字列を挿入 */
//   position: absolute;
//   top: 0;
//   left: rem(45);
// }

// .input-error {
//   // display: block;
//   border: 1px solid red;
// }

// ※入力必須項目です
span.error_required {
  font-family: $base-font-family;
  font-size: rem(14);
  color: #C94800;
  font-weight: $normal;
  text-align: left;
}

.contact-form__error {
  padding: 0 rem(60);
}
// ※必須項目が入力されていません。入力してください。
.error-message {
  // display: none;
  font-family: $base-font-family;
  font-size: rem(14);
  color: #C94800;
  font-weight: $normal;
  text-align: left;
  margin-top: rem(52);
  margin-bottom: rem(40);
  position: relative;
  @include mq(md) {
    margin-top: rem(150);
  }
}