@use "global" as *;
// FAQリスト

.faq-list {
  width: 100%;
  max-width: rem(700);
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.faq-list__item:nth-child(n+2) {
  margin-top: rem(40);
}

.faq-list__heading {
  background-color: $green;
  padding: rem(16);
  position: relative;
  @include mq(md) {
  padding: rem(26) rem(40);
  }
}

// .faq-list__heading.is-active::before {
//   opacity: 0;
// }

// .faq-list__heading.is-active::after {
//   opacity: 1;
// }

// 質問文
.faq-list__question {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $white;
  font-weight: $normal;
  @include mq(md) {
    font-size: rem(18);
  }
}
// プラスの横線
.faq-list__question::before {
  content: "";
  display: inline-block;
  width: rem(28);
  height: rem(1);
  background-color: $white;
  position: absolute;
  top: 50%;
  right: rem(16);
  transform: translateY(-50%);
  transition: opacity 0.3s ease;
}

// プラスの縦線
.faq-list__question::after {
  content: "";
  display: inline-block;
  width: rem(1);
  height: rem(28);
  background-color: $white;
  position: absolute;
  top: 50%;
  right: rem(28);
  transform: translateY(-50%) rotate(0deg);
  // opacity: 0;
  // transition: transform 0.3s ease, opacity 0.3s ease;
}

// 回答が閉じている時のスタイル
.accordion-content {
  opacity: 0;
  height: 0;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transition-duration: .3s;
}

.faq-list__question.rotate-lines::before {
  opacity: 0;
}

.faq-list__question.rotate-lines::after {
  opacity: 1;
  transform: translateY(-50%) rotate(45deg);
}




// 回答が開いている時のスタイル
.accordion-content.is-open {
  opacity: 1;
  display: block;
  height: auto;
  font-family: $base-font-family;
  font-size: rem(16);
  color: $green-deep;
  font-weight: $normal;
  border-left: 1px solid $green;
  border-right: 1px solid $green;
  border-bottom: 1px solid $green;
  padding: rem(24) rem(16);
  margin-top: 0;
}



