@use "global" as *;


.footer-sns {
  width: 100%;
  max-width: 100%;
}

.footer-sns a {
  display: inline-block;
  width: rem(24);
  height: rem(24);
  height: 100%;
  @include mq(md) {
    width: rem(32);
    height: rem(32);
  }
}

.footer-sns a img {
  width: 100%;
  max-width: 100%;
  object-fit: contain;
}

.footer__instagram-icon {
margin-left: rem(16);
}