@use "global" as *;
// SPナビとfooterナビ共通

.global-nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-areas: 
  "areaA areaB"
  "areaC areaD";
  gap: rem(28) 0;
  @include mq(md) {
    grid-template-columns: repeat(4, 1fr); 
    grid-template-areas: 
    "areaA areaB areaC areaD";
    gap: rem(20) rem(40);
  }
}

.global-nav__item-wrapper--left01 {
  grid-area: areaA;
}

.global-nav__item-wrapper--left02 {
  grid-area: areaC;
  @include mq(md) {
    grid-area: areaB;
  }
}

.global-nav__item-wrapper--right01 {
  grid-area: areaB;
  @include mq(md) {
    grid-area: areaC;
  }
}

.global-nav__item-wrapper--right02 {
  grid-area: areaD;
}

.global-nav__heading {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $white;
  font-weight: $bold;
  line-height: calc(18/16);
  display: block;
  padding-top: rem(12);
  padding-bottom: rem(12);
  padding-left: rem(22);
  margin-top: rem(16);
  position: relative;
}

.global-nav__heading:hover {
  opacity: 0.7;
}

.global-nav__heading:first-child {
  padding-top: 0;
  margin-top: 0;
}

// ヒトデのアイコン
.global-nav__heading::before {
    content: "";
    display: inline-block;
    width: rem(18);
    max-width: 100%;
    aspect-ratio: 1/1;
    background-image: url(../images/common/footer-hitode-icon.png);
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    z-index: 77777;
  }

  .global-nav__heading:first-child::before {
    top: 0;
    transform: none;
  }

.global-nav__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.global-nav__link {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $white;
  font-weight: $normal;
  line-height: calc(18/16);
  display: block;
  padding-top: rem(12);
  padding-bottom: rem(12);
  padding-left: rem(22);
}

.global-nav__link:hover {
  opacity: 0.7;
}












