@use "global" as *;

.page-campaign__breadcrumb {

}

.page-campaign__pagination {
  width: 100%;
  max-width: rem(444);
  margin-right: auto;
  margin-left: auto;
  margin-top: rem(80);
}

.page-campaign__contact {
  margin-top: rem(80);
}