@use "global" as *;

.page-privacy__inner {
  max-width: rem(630);
  @include mq(md) {
    max-width: rem(850);
  }
}

.page-privacy__heading {
  font-family: $base-font-family;
  font-size: rem(24);
  color: $green-deep;
  font-weight: 500;
  @include mq(md) {
    font-size: rem(32);
  }
}

.page-privacy__text {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $green-deep;
  font-weight: $normal;
  line-height: calc(32/16);
  display: block;
  margin-top: rem(32);
}

.page-privacy__text--opening {
  margin-top: rem(40);
}

.page-privacy__body {
  margin-top: rem(32);
}

.page-privacy__body ol {
  list-style-type: decimal;
  padding-left: 1.5em;
  font-family: $base-font-family;
  font-size: rem(16);
  color: $green-deep;
  font-weight: $normal;
  line-height: calc(32/16);
  display: block;
}

.page-privacy__body ul {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $green-deep;
  font-weight: $normal;
  line-height: calc(32/16);
  display: block;
  margin-top: rem(32);
}




