@use "global" as *;

.page-nav {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: rem(82);
  justify-content: center;
}

.page-nav a {
  display: block;
  width: rem(38);
  aspect-ratio: 38/38;
}

.page-nav img {
  width: 100%;
  max-width: 100%;
  object-fit: contain;
}

