@use "global" as *;

.page-blog__contents-wrapper {
  @include mq(md) {
    display: grid;
    grid-template-columns: 65.37% 1fr;
    gap: rem(80); 
  }
}

.page-blog__pagination {
  margin-top: rem(80);
}

