@use "global" as *;

.page-campaign__inner {
  max-width: rem(600);
  margin: 0 auto;
}

.page-campaign__tab {
  padding: 0 rem(15);
  margin-inline: calc(50% - 50vw);
  @include mq(md) {
    margin-right: auto;
    margin-left: auto;
    padding: 0;
  }
}

.page-campaign__items {
  margin-top: rem(40);
  padding: 0 rem(33);
  @include mq(md) {
    padding: 0;
  }
}

.page-campaign__pagination {
  // padding: 0 rem(15);
  // margin-inline: calc(50% - 50vw);
  margin-top: rem(76);
  // margin-top: rem(80);
  @include mq(md) {
  margin-right: auto;
  margin-left: auto;
  }
}