@use "global" as *;

.page-blog-details__contents-wrapper {
  max-width: rem(600);
  margin-right: auto;
  margin-left: auto;
  @include mq(md) {
    max-width: 100%;
    display: grid;
    grid-template-columns: 64.814% 1fr;
    gap: rem(82); 
  }
}
