@use "global" as *;

.page-campaign-contents__tab {
  max-width: rem(600);
  margin-top: rem(52);
@include mq(md) {
  max-width: 100%;
  margin-top: rem(150);
}
}

.page-campaign-contents__items {
  margin-top: rem(40);
}




