@use "global" as *;

.page-about-us__contents-wrapper {
  position: relative;
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(150);
  }
}

.page-about-us__image-right {
  width: 100%;
}

.page-about-us__main-copy {
  position: absolute;
  top: rem(24);
  left: rem(24);
  color: $white;
  @include mq(md) {
    position: initial;
  }
}