@use "global" as *;

.pc-nav {
  display: none; //最初(SP)は非表示
  height: 100%;
}

.pc-nav__items {
  display: flex;
  align-items: center;
  height: 100%;
}
.pc-nav__items .pc-nav__item:last-child {
  padding-right: 0;
}

.pc-nav__item {
  padding: 0 rem(20);
  position: relative;//hover時の下線用
}


.pc-nav__link {
  font-family: $second-font-family;
  font-size: rem(18);
  color: $white;
  font-weight: $normal;
  line-height: calc(18/18);
  text-transform: capitalize;
  display: block;
  text-align: center;
  padding-top: rem(28);
  padding-bottom: rem(27);
  white-space: nowrap;
}

.pc-nav__link span {
  font-family: $base-font-family;
  font-size: rem(10);
  color: $white;
  font-weight: $normal;
  line-height: calc(15/10);
  display: block;
}

.uppercase {
  text-transform: uppercase;
}

.pc-nav__link.current,
.pc-nav__item:hover {
  color: $white;
}

.pc-nav__link::after {
  content: "";
  position: absolute;
  bottom: rem(20);
  left: 10%;
  width: 80%;
  height: 2px;
  background:$white;
  transition: all .3s;
  transform: scale(0, 1);//X方向0、Y方向1
  transform-origin: center top;//上部中央基点
}

.pc-nav__link.current a::after,
.pc-nav__link:hover::after {
  transform: scale(1, 1);//X方向にスケール拡大
}