@use "global" as *;

.header__pc-nav {

}

.pc-nav {
  display: none; //最初(SP)は非表示
  height: 100%;
}

.pc-nav__items {
  display: flex;
  align-items: center;
  height: 100%;


}

.pc-nav__item {
  padding: 0 rem(20);

}

.pc-nav__link {
  font-family: $second-font-family;
  font-size: rem(18);
  color: $white;
  font-weight: $normal;
  line-height: calc(18/18);
  text-transform: capitalize;
  display: block;
  text-align: center;
  padding-top: rem(28);
  // padding-right: rem(20);
  padding-bottom: rem(27);
  // padding-left: rem(20);
  white-space: nowrap;
}
.pc-nav__link span {
  font-family: $base-font-family;
  font-size: rem(10);
  color: $white;
  font-weight: $normal;
  line-height: calc(15/10);
  display: block;
}

.uppercase {
  text-transform: uppercase;
}



// // PCナビ
// .p-pc-nav {
  
//   height: inherit;
//   display: none;
//   @include mq(md) {
//     display: block;
//     margin-left: auto;
//   }
// }
// .p-pc-nav__items {
//   height: inherit;
//   display: flex;
//   align-items: center;
// }

// .p-pc-nav__item {
//   height: inherit;
// }

// .p-pc-nav__item a {
//   font-family: "Noto Sans JP";
//   font-size: 1.6rem;
//   font-style: normal;
//   font-weight: 400;
//   line-height: calc(32/16);
//   color: $col-main-blue;
//   height: inherit;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   padding: 0 16px;
// }
// .p-pc-nav__item a span {
//   font-family: "Noto Sans JP";
//   font-size: 1.4rem;
//   font-style: normal;
//   font-weight: 400;
//   line-height: 1;
//   color: $col-main-blue;
//   display: inline-block;
//   text-transform: capitalize;
// }

// .p-pc-nav__item a:hover {
//   cursor: pointer;
//   background-color: $col-main-light-blue;
// }