@use "global" as *;

.site-map {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "areaA areaB"
    "areaC areaD";
  gap: rem(28) 0;
  @include mq(md) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "areaA areaB areaC areaD";
    gap: rem(20) rem(40);
  }
}

.site-map__items--left01 {
  grid-area: areaA;
}

.site-map__items--left02 {
  grid-area: areaC;
  @include mq(md) {
    grid-area: areaB;
  }
}

.site-map__items--right01 {
  grid-area: areaB;
  @include mq(md) {
    grid-area: areaC;
  }
}

.site-map__items--right02 {
  grid-area: areaD;
}

.site-map__item {
  margin-top: rem(16);
}

.site-map__heading {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $black;
  font-weight: $bold;
  line-height: calc(18/16);
  display: block;
  padding-top: rem(12);
  padding-bottom: rem(12);
  padding-left: rem(22);
  position: relative;
}

.site-map__heading:hover {
  opacity: 0.7;
}

// ヒトデのアイコン
.site-map__heading::before {
  content: "";
  display: inline-block;
  width: rem(18);
  max-width: 100%;
  aspect-ratio: 1/1;
  background-image: url(../images/common/hitode-icon__site-map.png);
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.site-map__sub-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.site-map__sub-item {
  width: 100%;
}

.site-map__sub-item a {
  display: block;
  font-family: $base-font-family;
  font-size: rem(16);
  color: $black;
  font-weight: $normal;
  line-height: calc(18/16);
  padding-top: rem(12);
  padding-bottom: rem(12);
  padding-left: rem(22);
}

.site-map__sub-item a:hover {
  opacity: 0.7;
}

.site-map__items .site-map__item:first-child {
  margin-top: 0;
}

.site-map__items .site-map__item:first-child .site-map__heading {
  padding-top: 0;
}

.site-map__items .site-map__item:first-child .site-map__heading:first-child::before {
  top: 0;
  transform: none;
}