//あとでアクティブにして修正。sp-navは左右横並びだけなので、4つに区切るためのクラスは削除する。

@use "global" as *;
// SPナビとfooterナビ共通にしていたが、WP実装時にsp-navとして分けた
// 左右50%で横並び

.sp-nav {
  display: flex;
  justify-content: center;
  gap: rem(16);
  z-index: 999;
  max-width: rem(600);
  margin-right: auto;
  margin-left: auto;
  @include mq(md) {
    justify-content: space-between;
  }
}

.sp-nav__items-wrapper--left {
  white-space: nowrap;
  width: 50%;
  @include mq(md) {
    display: flex;
  }
}

.sp-nav__items-wrapper--right {
  width: 50%;
  @include mq(md) {
    display: flex;
  }
}

.sp-nav__items--left01 {
  @include mq(md) {
    width: 50%;
  }
}

.sp-nav__items--left02 {
  margin-top: rem(16);
  @include mq(md) {
    width: 50%;
    margin-top: 0;
    margin-left: rem(32);
  }
}

.sp-nav__items--right01 {
  @include mq(md) {
    width: 50%;
  }
}

.sp-nav__items--right02 {
  margin-top: rem(16);
  @include mq(md) {
    width: 50%;
    margin-top: 0;
    margin-left: rem(32);
  }
}

.sp-nav__item {
  margin-top: rem(16);
}

.sp-nav__heading {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $white;
  font-weight: $bold;
  line-height: calc(18/16);
  display: block;
  padding-top: rem(12);
  padding-bottom: rem(12);
  padding-left: rem(22);
  position: relative;
}

.sp-nav__heading:hover {
  opacity: 0.7;
}

// ヒトデのアイコン
.sp-nav__heading::before {
  content: "";
  display: inline-block;
  width: rem(18);
  max-width: 100%;
  aspect-ratio: 1/1;
  background-image: url(../images/common/footer-hitode-icon.png);
  background-size: contain;
  position: absolute;
  top: rem(12);
  left: 0;
}

.sp-nav__sub-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.sp-nav__sub-item {
  width: 100%;
}

.sp-nav__sub-item a {
  display: block;
  font-family: $base-font-family;
  font-size: rem(16);
  color: $white;
  font-weight: $normal;
  line-height: calc(18/16);
  padding-top: rem(12);
  padding-bottom: rem(12);
  padding-left: rem(22);
}

.sp-nav__sub-item a:hover {
  opacity: 0.7;
}


// 一番上のアイテムはmarginもpaddingもつけない
.sp-nav__items .sp-nav__item:first-child {
  margin-top: 0;
}

// left01とright01はpadding-topをつけない
.sp-nav__items--left01 .sp-nav__item:first-child .sp-nav__heading,
.sp-nav__items--right01 .sp-nav__item:first-child .sp-nav__heading {
  padding-top: 0;
}

.sp-nav__items--left02 .sp-nav__item:first-child .sp-nav__heading,
.sp-nav__items--right02 .sp-nav__item:first-child .sp-nav__heading {
  @include mq(md) {
    padding-top: 0;
  }
}

//ヒトデ位置調整（itemにpadding-topが無い時は上寄せ）
.sp-nav__items--left01 > .sp-nav__item:first-child .sp-nav__heading:first-child::before {
  top: 0;
  transform: none;
}

.sp-nav__items--left02 > .sp-nav__item:first-child .sp-nav__heading:first-child::before {
  @include mq(md) {
    top: 0;
    transform: none;
  }
}

.sp-nav__items--right01 > .sp-nav__item:first-child .sp-nav__heading:first-child::before {
  top: 0;
  transform: none;
}

.sp-nav__items--right02 > .sp-nav__item:first-child .sp-nav__heading:first-child::before {
  @include mq(md) {
    top: 0;
    transform: none;
  }
}

