@use "global" as *;

.sub-fv {
  width: 100%;
  max-width: 100%;
  height: rem(460);
  aspect-ratio: 375/460;
  position: relative;
  @include mq(md) {
    aspect-ratio: 1440/548;
  }
}

.sub-fv__inner {
  width: 100%;
  max-width: 100%;
  height: inherit;
}

.sub-fv__heading {
  font-family: 'Lato', sans-serif;
  font-size: rem(40);
  color: $white;
  font-weight: $normal;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: capitalize;
  @include mq(md) {
    font-size: rem(80);
  }
}

.sub-fv__image {
  width: 100%;
  max-width: 100%;
  height: inherit;
}

.sub-fv__image img {
  width: 100%;
  max-width: 100%;
  height: inherit;
  object-fit: cover;
}





