@use "global" as *;

// wp-PageNaviで実装したので、静的コーディングで書いたcssではなく、wp-PageNaviで生成されたHTMLに、cssをあてる。

// ページネーションのコンテナ
.wp-pagenavi {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(12);
}

// これは何か分からない？？
.wp-pagenavi .pages {
    
}

// 現在のページ番号のスタイル
.wp-pagenavi .current {
  font-family: 'Lato', sans-serif;
  font-size: rem(16);
  color: $white; // 文字色を白に変更
  background-color: $green; // 背景色を緑に変更
  font-weight: $bold;
  line-height: 1;
  width: rem(38);
  height: rem(38);
  border: 1px solid $green;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
}

// 前への矢印、ページ番号、次への矢印のスタイル
.wp-pagenavi .previouspostslink, //前の矢印
.wp-pagenavi .page, // ページ番号
.wp-pagenavi .nextpostslink { // 次への矢印
  font-family: 'Lato', sans-serif;
  font-size: rem(16);
  color: $green;
  font-weight: $bold;
  line-height: 1;
  width: rem(38);
  height: rem(38);
  border: 1px solid $green;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
}

// 前への矢印、ページ番号、現在のページ番号、次への矢印のhoverスタイル
.wp-pagenavi .previouspostslink:hover,
.wp-pagenavi .page:hover,
.wp-pagenavi .current:hover,
.wp-pagenavi .nextpostslink:hover {
  background-color: $green;
  color: $white;
}

/* ============================================
/* ブログ詳細のページネーション
/* ============================================ */
// ブログ詳細：前の記事、次の記事
.sub-pagination--blog-article {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(82);
  transition: .3s;
}





/* ============================================
/* // ここ↓から元のcss
/* ============================================ */


.sub-pagination {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // gap: rem(12);
}



.sub-pagination a {
  // font-family: 'Lato', sans-serif;
  // font-size: rem(16);
  // color: $green;
  // font-weight: $bold;
  // line-height: 1;
  // width: rem(38);
  // height: rem(38);
  // border: 1px solid $green;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // transition: .3s;
}

.sub-pagination--current {
  // background-color: $green;
}

.sub-pagination a.sub-pagination--current  {
  // color: $white;
}

.sub-pagination a:hover {
  // background-color: $green;
  // color: $white;
}

// 矢印左
.sub-pagination__arrow-left {
  // position: relative;
  // margin-right: rem(28);
  // transition: .3s;
  font-family: 'Lato', sans-serif;
  font-size: rem(16);
  color: $green;
  font-weight: $bold;
  line-height: 1;
  width: rem(38);
  height: rem(38);
  border: 1px solid $green;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
  position: relative;
}

.sub-pagination__arrow-left::before {
  content: '';
  width: rem(12); 
  height: rem(12); 
  border-bottom: 1px solid $green; 
  border-left: 1px solid $green; 
  transform: rotate(45deg) translate(-50%);
  position: absolute;
  top: 40%;
  left: 50%;
}

// 矢印右
.sub-pagination__arrow-right {
  // position: relative;
  // margin-left: rem(28);
  // transition: .3s;
  font-family: 'Lato', sans-serif;
  font-size: rem(16);
  color: $green;
  font-weight: $bold;
  line-height: 1;
  width: rem(38);
  height: rem(38);
  border: 1px solid $green;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
  position: relative;
}

.sub-pagination__arrow-right::before {
  content: '';
  width: rem(12); 
  height: rem(12); 
  border-top: 1px solid $green; 
  border-right: 1px solid $green; 
  transform: rotate(45deg) translate(-50%);
  position: absolute;
  top: 40%;
  left: 40%;
}

.sub-pagination__arrow-left:hover::before,
.sub-pagination__arrow-right:hover::before {
  border-color: $white; 
}


// アイテム5,6はPCのみ表示
.sub-pagination a.sub-pagination--pc {
  // display: none;
  // @include mq(md) {
  //   display: flex; 
  // }
}
