@use "global" as *;

.top-information {
  background-color: $green-light;
  padding-top: rem(75);
  padding-bottom: rem(80);
  margin-top: rem(70);
  @include mq(md) {
    padding-top: rem(100);
    padding-bottom: rem(100);
    margin-top: rem(140);
  }
}