@use "global" as *;
// ボイスカード群

.voice-cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(40);
  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
    gap: rem(80) rem(40);
  }
}